.section-about{
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;

    @include responsiv(tablet-p){
        padding: 20rem 0;
        
    }
}

#section-features{
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)), url('../img/nat-4.jpg');
    background-size: cover;
    padding: 20rem 0;
    transform: skewY(-4deg);
    margin-top: -5rem;
    & > *{
        transform: skewY(4deg);
    }
    @include responsiv(tablet-p){
        padding: 15rem 0;
    }
}

#section-tours{
    background-color: $color-grey-light;
    padding: 20rem 0;
    margin-top: -5rem;
    @include responsiv(tablet-p){
        padding: 15rem 0;
    }
}

#section-booking{
    background-image:linear-gradient(to right top, purple, blue);
    padding: 15rem 0;

    @include responsiv(tablet-p){
        padding: 10rem 0;
    }
}

.book{
    // height: 50rem;
    background-image: linear-gradient(110deg, rgba($color-white, .8) 50%, transparent 50%)
    ,url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 0.5%;

    &__form{
        width: 50%;
        padding: 6rem;
        @include responsiv(tablet-l){ width: 70%; }
        @include responsiv(tablet-p){ width: 100%; }
    }

    @include responsiv(tablet-l){
        // height: 50rem;
    background-image: linear-gradient(110deg, rgba($color-white, .8) 70%, transparent 70%)
    ,url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 0.5%;
    background-size: cover;
    }

    @include responsiv(tablet-p){
        background-image: linear-gradient(110deg, rgba($color-white, .8) 100%)
        ,url(../img/nat-10.jpg);
        background-size: 100%;
        border-radius: 0.5%;
        background-size: cover;
    }
}