
.header{
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)), url('../img/hero.jpg');
    background-size: cover; /* whatever the width of the viewport, or the element, it fits the element inside of the box. */
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100% );

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 3.5rem;
    }
    
    &__main-container{
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
}