.container{
    max-width: 120rem; 
    margin: 8rem auto;
    background-color: var(--color-Grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem; 
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center; // is like inline-middle, vertical center

    height: 7rem;
    font-size: 1.4rem;
    background-color: #FAF9F6;
    border-bottom: 2px gray solid;
}

.content{
    display: flex;
}

.sidebar{
background-color: var(--color-Grey-dark-1);
flex: 0 0 17%;

display: flex;
flex-direction: column;
justify-content: space-between;
// align-items: center;
}

.important-content{
background-color: #FAF9F6;
// height: 80rem;
flex: 1;
}

.details{
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    border-bottom: 2px gray solid;
}

.descriptions{
    font-size: inherit;
    flex: 0 0 60%;
    background-color: white;
    padding: 3rem;
    margin-right: 4.5rem;
}

.user-reviews{
    font-size: inherit;
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}